<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
<style type="text/css">
html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0
}

#map_canvas {
    height: 100%
}
</style>
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA0Xx0U5BJaLKKvnPb4DeBQ2RAt0UJPMn8&sensor=false">
</script>
<script type="text/javascript">

var truck_info = [
    {name:'foodgo', lat:37.769851, lng:-122.433782},
    {name:'yum yum', lat:37.753434, lng:-122.434566},
    {name:'tacome', lat:37.775435, lng:-122.453456},
    {name:'coffeeit', lat:37.775343, lng:-122.443545},
    {name:'hungry', lat:37.763455, lng:-122.395355}
];

function initialize() {

    var SanFrancisco = {lat: 37.759851, lng: -122.443782};

    var myOptions = {
        center: SanFrancisco,
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP

    };
    var map = new google.maps.Map(document.getElementById("default"),
        myOptions);

    setMarkers(map, truck_info)
}


function setMarkers(map, truck_info) {

    var marker, i
    for (i = 0; i < truck_info.length; i++) {

        var name = truck_info[i].name
        var lat = truck_info[i].lat
        var lng = truck_info[i].lng

        latlngset = new google.maps.LatLng(lat, lng);

        var marker = new google.maps.Marker({
            map: map, title: name, position: latlngset
        });
        map.setCenter(marker.getPosition())

        var content = "Name: " + name

        var infowindow = new google.maps.InfoWindow()


        google.maps.event.addListener(marker,'mouseover', (function(marker,content,infowindow){ 
            return function() {
                infowindow.setContent(content);
                infowindow.open(map,marker);
            };
        })(marker,content,infowindow));

        google.maps.event.addListener(marker,'mouseout', (function(marker,content,infowindow){ 
            return function() {
                infowindow.close(map,marker);
            };
        })(marker,content,infowindow));  

    }
}


</script>
</head>
<body onload="initialize()">
<div id="default" style="width:100%; height:100%"></div>
</body>
</html>